.App__card,
.App__card--editing {
  width: 230px;
  padding: 10px;
  margin: 5px;
}

.App__card--editing {
  height: 355px;
}

@media (max-width: 768px) {
  .App__card,
  .App__card--editing {
    width: 75%;
  }
  .App__card--editing .form-group {
    width: 100%;
  }
}
