* {
  box-sizing: border-box;
}

body {
  background-image: url("https://wallpapercave.com/wp/QR0YrYw.jpg");
  /* background-image: url("https://i.pinimg.com/originals/15/9d/ac/159dac10a76b0b41907a3cb0b30c7879.jpg"); */
  background-size: cover;
  font-family: 'Work Sans', sans-serif;
}

@media (max-width: 768px) {
  .Main__form {
    display: block;
    margin: 15px auto;
    width: 80%;
  }
}